@import "partials/_reset.scss";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/components/_loader.scss";
@import "partials/components/_header.scss";
@import "partials/components/mobileMenu";
@import "partials/components/about";
@import "partials/components/projects";
@import "partials/components/recomendation";
@import "partials/components/contact";
@import "partials/components/footer";
@import "partials/components/services";

html,
body {
  width: 100vw;
  cursor: default;
  @media (max-width: 1024px) {
    // overflow-x: auto;
  }
}

.wrap {
  position: relative;
  font-family: "Montserrat", sans-serif;
  @media only screen and (max-width: 1024px) {
    overflow-x: hidden;
  }
}

@media (max-width: 1024px) {
  .services {
    // overflow-x: hidden;
    // width: 80%;
    min-width: 0;
  }
}

div {
  font-family: "Montserrat", sans-serif;
}
