@import "partials/_reset.scss";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/components/_loader.scss";
@import "partials/components/_header.scss";
@import "partials/components/mobileMenu";
@import "partials/components/about";
@import "partials/components/projects";
@import "partials/components/recomendation";
@import "partials/components/contact";
@import "partials/components/footer";
@import "partials/components/proba";

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

.wrap {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

div {
  font-family: "Montserrat", sans-serif;
}
