@import "partials/_reset.scss";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/components/_loader.scss";
@import "partials/components/_header.scss";
@import "partials/components/mobileMenu";
@import "partials/components/about";
@import "partials/components/proba";

html,
body {
  overflow-x: hidden;
}

.wrap {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
