@import "../variables";

.recomendation {
  padding-bottom: 8vh;
  background-color: $recomendation-background;
  &-imgQoute {
    position: relative;
    & img {
      width: 25%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: 1024px) {
      left: 25%;
      width: 50%;
    }
    @media (min-width: 1440px) {
      left: 30%;
      width: 40%;
    }
  }
  &__slider {
    padding-top: 15vh;
    @media (min-width: 1024px) {
      padding-top: 10vh;
    }
    &__opinion {
      @media (min-width: 1024px) {
        display: flex !important;
      }
      &-photo {
        position: relative;
        display: flex;
        justify-content: center;
        @media (min-width: 1024px) {
          padding-top: 4vw;
          width: 30%;
        }
        & img {
          width: 30%;
          height: 30%;
          border-radius: 50%;
          @media (min-width: 1024px) {
            width: 10vw;
            height: 10vw;
          }
        }
      }
      &-description {
        padding: 5vh 5vw;
        font-style: italic;
        text-align: center;
        line-height: 130%;
        letter-spacing: 1px;
        @media (min-width: 768px) {
          font-size: 1.7em;
        }
        @media (min-width: 1024px) {
          padding: 5vh 2vw 5vh 0;
          width: 70%;
          font-size: 0.9em;
        }
        @media (min-width: 1440px) {
          font-size: 1.1em;
        }
        &-opinion {
          &-footer {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            font-weight: bold;
            & span {
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}
