// Fonts
// font-family: 'Poppins', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Loader
$loader-background: #000;
$loader-color: #fff;
$loader-fontFamily: "Montserrat", sans-serif;

// Header
$header-height: 100vh;
$menu-background: rgba(37, 39, 62, 0.95);
$header-background: rgba(37, 39, 62, 1);
$nav-el: aliceblue;
$header-color: #111;
$nav-fontFamily: "Poppins", sans-serif;
$header-fontFamily: "Poppins", sans-serif;
$showHeaderDelay: 1s;
// 5s

//MobileMenu
$color-main: rgba(37, 39, 62, 1);
$color-active: aliceblue;
$color-link: aliceblue;
$button-height: 27px;
$button-width: 35px;

//About
$about-fontSize: 0.9em;
$about-mainColor: rgba(37, 39, 62, 1);
$about-secondColor: #ed1d4f;

//Services

//Projects
$projects-fontSize: 1.6em;
$projects-fontColor: aliceblue;
$projects-fontFamily: "Poppins", sans-serif;

//Recomendation
$recomendation-background: #f1f2f2;
$recomendation-quoute: #ed1d4f;

//Contact
$main-color: rgba(37, 39, 62, 0.9);
$font-color: rgba(37, 39, 62, 1);

//Fotter
$footer-bgc: rgba(37, 39, 62, 1);
