// Loader
$loader-background: #000;
$loader-color: #fff;
$loader-fontFamily: "Montserrat", sans-serif;

// Header
$header-background: red;
$header-height: 90vh;
$nav-el: aliceblue;

//MobileMenu
$color-main: #ff5252;
$color-active: #fff;
$color-link: #fff;

$button-height: 27px;
$button-width: 35px;
