// Loader
$loader-background: #000;
$loader-color: #fff;
$loader-fontFamily: "Montserrat", sans-serif;

// Header
$header-background: red;
$header-height: 100vh;
$nav-el: aliceblue;
$showHeaderDelay: 1s;
// 5s

//MobileMenu
$color-main: #ff5252;
$color-active: #fff;
$color-link: #fff;

$button-height: 27px;
$button-width: 35px;

//About
$about-fontSize: 0.9em;

//Projects
$projects-fontSize: 1.6em;
$projects-mainColor: #ff5252;

//Recomendation
$recomendation-background: #f1f2f2;

//Contact
$main-color: rgba(37, 39, 62, 0.9);
$font-color: rgba(37, 39, 62, 1);

//Fotter
$footer-bgc: rgba(37, 39, 62, 1);
